.container {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    width: 250px;
    height: 250px;
}

.cell {
    padding: 10px;
    background-color: #ccc;
    height: fit-content;
}