.container {
    display: flex;
    justify-content: center;
}

.grid {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
    width: 250px;
    height: 250px;
}

.cell {
    padding: 10px;
    background-color: #ccc;
    height: fit-content;
}

.setup {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(3, 1fr);
}

.playerPanel {
    display: flexbox;
    align-content: space-between;
    text-align: center;
}

.clear {
    margin: auto;
    margin-top: 50px;

    width: 50px;
    height: 50px;
}